@model AlquileresSistemaPrincipal.Models.PropiedadDto

<h2>Agregar nueva propiedad</h2>

<form asp-action="Crear" method="post">
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label>Dirección</label>
        <input asp-for="Direccion" class="form-control" />
    </div>
    <div>
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>
    <div>
        <label>Precio</label>
        <input asp-for="Precio" class="form-control" />
    </div>
    <div>
        <label>Imagen URL</label>
        <input asp-for="ImagenUrl" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

